body{
    background-color: #495371;
}
#body {
    margin-top: 5rem;
    height: 70vh;
    text-align: center;
}
#body button{
    width: 5rem;
    height: 5rem;
    border-radius: 1rem;
    background-color: #98B4AA;
    color: white;
    font-size: 1.5rem;
    margin-bottom: 3rem;
}
#body div{
    font-size: 3rem;
    color: white;
}
.title {
	font-weight: bold;
	font-size: 5rem;
    color: #F1E0AC;
    background-color: #495371;
    text-align: center;
}